#dugme{
    border-width: 0;
    width: 6em;
    border-radius: 0px; 
    height: 2.5em; 
    margin-top: -5px; 
    background-color: rgb(244, 244, 244);
}

#dugme:hover{
    background-color: rgb(52, 58, 64);
}

.bsThumbnail{
    height: 60px;
    width: 60px;
}

.navigacija{
    font-size: 14px;
    color: gray;
}

.product a{
    text-decoration: none;
    color: black;
}