<div class="fluid">

    <!-- Onaj header gde pise moj nalog -->
    <div class="row-fluid" style="background-color: rgba(0, 29, 53, 0.479)">
        <div class="col">
            <div id="mnh">
                <h1 class="display-4 text-center text-light font-weight-bold">Prijava</h1>
                <hr class="mt-4" style="border-width: 2px; border-color: white; width: 7em;">
            </div>
        </div>
    </div>

    <!-- Row sa formama za prijavu/registraciju -->
    <div class="container-fluid" style="background-color: rgb(244, 244, 244);;">
        <div class="row justify-content-md-center p-md-5 pb-5">

            <!-- Login -->
            <div class="col-lg-5 col-md-12 mx-2">
                <h3 class="pt-4 pb-3">Prijava</h3>
                
                <!-- login komponenta -->
                <div>
                    <app-login-c></app-login-c>
                </div>
                    
            </div>
            
            <!-- Registracija -->
            <div class="col-lg-5 col-md-12 mx-2">
                <h3 class="pt-4 pb-3">Registracija</h3>
                
                <!-- register komponenta -->
                <div>
                    <app-register-c></app-register-c>
                </div>
            </div>
        </div>
    </div>
        
    </div>
    
