<div class="fluid">
  <!-- Onaj header gde pise o nama -->
  <div class="row-fluid" style="background-color: rgba(0, 29, 53, 0.479);">
    <div class="col">
      <div id="onh">
        <h1 class="display-4 text-center text-light font-weight-bold">
          O nama
        </h1>
      </div>
    </div>
  </div>

  <!-- deo sa slikom koji kaze ko smo mi -->
  <div style="background-color: white;">
    <!-- deo sa slikom koji kaze ko smo mi -->
    <div class="row mx-5 py-5">
      <div class="col-5" style="background-color: rgb(237, 237, 239);">
        <div
          class="ml-5"
          style="
            background-color: rgb(49, 151, 214);
            width: 4.5em;
            height: 0.2em;
            color: rgb(49, 151, 214);
            margin-top: 120px;
          "
        ></div>
        <h1 class="ml-5 mt-5">Ko smo mi</h1>
        <p class="mx-5 mt-4" style="margin-bottom: 140px;">
          Mi smo firma koja se bavi onlajn prodajom knjiga u fizičkom i
          elektronskom formatu.
        </p>
      </div>
      <div
        class="col-7"
        style="
          background-image: url(../../../../../assets/img/nastim.jpg);
          background-size: contain;
        "
      ></div>
    </div>

    <div class="container-fluid">
      <!-- deo o nasem timu -->
      <div class="row" style="background-color: rgb(249, 249, 249);">
        <div class="col">
          <hr
            style="
              border-width: 4px;
              border-color: rgb(49, 151, 214);
              width: 5.5em;
              margin-top: 100px;
            "
          />
          <h5 class="text-center mt-5">Upoznajte naš tim</h5>
          <h1 class="text-center mt-3">Naš tim</h1>
          <p class="text-center mt-3 mb-5">
            Naš tim posvećeno radi kako bi naši klijenti mogli da dobiju full
            servic e-commerce uslugu na jednom mestu.<br />Mi smo tu zbog vas.
          </p>
        </div>
      </div>

      <!-- deo gde su slike svakog pojedinacno iz tima -->
      <div class="row pt-4 pb-5" style="background-color: rgb(249, 249, 249);">
        <!-- clan tima -->
        <div class="col-2 mb-4 offset-3">
          <div class="card card-block" style="border-radius: 10px;">
            <div class="card-body d-flex justify-content-center">
              <img
                class="my-3"
                src="../../../assets/img/tim/brox.jpg"
                alt=""
                style="width: 90px; height: 90px; border-radius: 50px;"
              />
            </div>
            <h4 class="text-center">Armin Bronja</h4>
            <p class="text-center">Founder - CEO</p>
          </div>
        </div>

        <!-- clan tima -->
        <div class="col-2 mb-4">
          <div class="card card-block" style="border-radius: 10px;">
            <div class="card-body d-flex justify-content-center">
              <img
                class="my-3"
                src="../../../assets/img/tim/team1-free-img.png"
                alt=""
                style="width: 90px; height: 90px; border-radius: 50px;"
              />
            </div>
            <h4 class="text-center">Jessica Pearson</h4>
            <p class="text-center">COO</p>
          </div>
        </div>

        <!-- clan tima -->
        <div class="col-2 mb-4">
          <div class="card card-block" style="border-radius: 10px;">
            <div class="card-body d-flex justify-content-center">
              <img
                class="my-3"
                src="../../../assets/img/tim/team3-free-img.png"
                alt=""
                style="width: 90px; height: 90px; border-radius: 50px;"
              />
            </div>
            <h4 class="text-center">Rachel Zain</h4>
            <p class="text-center">Marketing Head</p>
          </div>
        </div>

        <!-- clan tima -->
        <div class="col-2 mb-4 offset-3">
          <div class="card card-block" style="border-radius: 10px;">
            <div class="card-body d-flex justify-content-center">
              <img
                class="my-3"
                src="../../../assets/img/tim/team4free-img.png"
                alt=""
                style="width: 90px; height: 90px; border-radius: 50px;"
              />
            </div>
            <h4 class="text-center">Luise Litt</h4>
            <p class="text-center">Lead Developer</p>
          </div>
        </div>

        <!-- clan tima -->
        <div class="col-2 mb-4">
          <div class="card card-block" style="border-radius: 10px;">
            <div class="card-body d-flex justify-content-center">
              <img
                class="my-3"
                src="../../../assets/img/tim/team5-free-img.png"
                alt=""
                style="width: 90px; height: 90px; border-radius: 50px;"
              />
            </div>
            <h4 class="text-center">Katrina Bennett</h4>
            <p class="text-center">Intern Designer</p>
          </div>
        </div>

        <!-- clan tima -->
        <div class="col-2 mb-4">
          <div class="card card-block" style="border-radius: 10px;">
            <div class="card-body d-flex justify-content-center">
              <img
                class="my-3"
                src="../../../assets/img/tim/team6-free-img.png"
                alt=""
                style="width: 90px; height: 90px; border-radius: 50px;"
              />
            </div>
            <h4 class="text-center">Mike Ross</h4>
            <p class="text-center">Intern Designer</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Div gde ce da bude ona slika i panel sa adresom -->
    <div>
      <div
        style="
          background: linear-gradient(rgba(0, 0, 0, 0.43), rgba(0, 0, 0, 0.43)),
            url(../../../../../assets/img/onama.jpg);
          max-width: 100%;
          height: 700px;
          background-repeat: no-repeat;
          background-attachment: fixed;
          display: flex;
          justify-content: center;
        "
      >
        <!-- panel sa adresom -->
        <div
          style="
            background-color: rgba(237, 237, 239, 0.83);
            width: 400px;
            height: 100%;">
          <hr style="
              border-color: black;
              border-width: 4px;
              width: 5em;
              margin-top: 100px;"/>
          <h1 class="text-center mt-4">Adresa</h1>
          <p class="text-center mt-4">Armin Bronja</p>
          <p class="text-center">Vuka Karadžića 9</p>
          <p class="text-center">36300 Novi Pazar, Srbija</p>
          <hr style="
              border-color: black;
              border-width: 4px;
              width: 5em;
              margin-top: 100px;"/>
          <h1 class="text-center mt-4">Kontakt</h1>
          <p class="text-center mt-4">tel: 069/842-12-95</p>
          <p class="text-center">e-mail: arminb997@gmail.com</p>
        </div>
      </div>

    </div>
  </div>
</div>
