<div class="fluid">
    <!-- Onaj header gde pise kontakt -->
    <div class="row-fluid" style="background-color: rgba(0, 29, 53, 0.479)">
        <div class="col">
            <div id="mnh">
                <h1 class="display-4 text-center text-light font-weight-bold">Kontaktirajte nas</h1>
            </div>
        </div>
    </div>

    <!-- div gde se nalazi forma za kontaktiranje -->
    <div class="" style="background-color: rgb(249, 249, 249);">
        <!-- row za kontakt formu i tekst -->
        <div class="row mx-5" style="padding-top: 150px; padding-bottom: 150px;">
            <!-- tekst s leve strane -->
            <div class="col-4 offset-1">
                <h2>Pitanja, komentari?</h2>
                <h2>Pišite nam. Mi čitamo vaše poruke.</h2>
                <p class="mt-5">E-mail: info@primer.com <br>
                tel: 069/842-12-95 </p>
                <h6 class="mt-5">Radno vreme</h6>
                <hr style="margin-right: 30%;">
                <div class="row">
                    <div class="col-5">
                        <span class="">Ponedeljak - Subota</span>
                    </div>
                    <div class="col-4">
                        <span style="font-weight: 500;">09:00 - 19:00h</span>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-5">
                        <span class="pr-5">Nedelja</span>
                    </div>
                    <div class="col-4">
                        <span style="font-weight: 500;">10:00 - 17:00h</span>
                    </div>
                </div>

                <h5 class="pt-5">Treba vam pomoć? Pozovite nas:</h5>
                <h2>069/842-12-95</h2>
                
            </div>

            <!-- kontakt forma -->
            <div class="col-6">
                <form>
                    <input class="fp w-100" type="text" name="fname" id="" placeholder="Ime">
                    <input class="fp w-100" type="email" placeholder="E-mail">
                    <input class="fp w-100" type="text" name="" id="" placeholder="Subjekat">
                    <textarea class="w-100" name="" id="" cols="30" rows="10" placeholder="Poruka..." style="resize: vertical; box-shadow: none; border: 1px solid rgb(218, 218, 218); padding-left: 10px;"></textarea>
                </form>
                <button id="dugme" class="btn btn-outline-dark mt-4" type="submit" style="align-self: flex-end; width: 10em;">Pošalji</button>
            </div>
        </div>
    </div>
</div>
