<footer style="background-color: white; height: auto;">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
          <p class="footerheader">pomoć & informacije</p>
          <p class="footerelement"><a href="">FAQ</a></p>
          <p class="footerelement"><a href="">Dostava i cena poštarine</a></p>
          <p class="footerelement">
            <a style="margin-bottom: 20px;" href="">Povratak i zamena</a>
          </p>
          <p class="footerelement"><a href="">Zaštita podataka</a></p>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
          <p class="footerheader">knjižaraonline</p>
          <p class="footerelement"><a href="">Početna strana</a></p>
          <p class="footerelement"><a routerLink="/pl">Kupi knjigu</a></p>
          <p class="footerelement"><a routerLink="/prodaj-knjigu">Prodaj knjigu</a></p>
          <p class="footerelement"><a routerLink="/o-nama">O nama</a></p>
          <p class="footerelement"><a routerLink="/kontakt">Kontakt</a></p>
  
          <p class="footerheader">nalog</p>
          <p class="footerelement"><a href="">Moj nalog</a></p>
          <p class="footerelement"><a href="">Porudžbine</a></p>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
          <p class="footerheader">društvene mreže</p>
          <p class="footerelement">
            <a href="">ovde ce da dodju ikonice za instagram, fb itd..</a>
          </p>
  
          <p class="footerheader">novine</p>
          <p style="color: rgb(154, 154, 154);">
            Prijavite se ovde za naše novine. U novinama ćete biti obavešteni o
            novim dostupnim knjigama, novostima, kao i akcijskim ponudama!
          </p>
          <div>
            <input
              type="search"
              placeholder="e-mail adresa"
              style="
                border-radius: 0px;
                width: 60%;
                height: 50px;
                display: inline;
                margin: 0;
                margin-bottom: 50px;
              "
              class="form-control"
            />
            <button
              class="btn btn-outline-dark"
              style="
                border-radius: 0px;
                display: inline;
                margin-top: -5px;
                height: 50px;
                margin-left: 15px;
                width: 30%;
              "
            >
              Prijavi se
            </button>
          </div>
        </div>
      </div>
    </div>
  </footer>