<router-outlet></router-outlet>

<!--
<div 
*ngIf="kontakt"
style="
background-image: url(../../../assets/img/kontakt.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
">
    <app-navigacija></app-navigacija>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
</div>

<div 
*ngIf="onama"
style="
background-image: url(../../../assets/img/onamah.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
">
    <app-navigacija></app-navigacija>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
</div>
-->
